<html lang="en" version="VERSION">
    </head>
        <!-- ========== Meta Tags ========== -->
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="author" content="{{ general.siteName }} :: {{ page-name }}">

        <!-- ========== Favicon Icon ========== -->
        <link href="{{root}}assets/img/favicon/favicon.png" rel="shortcut icon" type="image/png">
        <link href="{{root}}assets/img/favicon/apple-touch-icon.png" rel="apple-touch-icon">
        <link href="{{root}}assets/img/favicon/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
        <link href="{{root}}assets/img/favicon/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
        <link href="{{root}}assets/img/favicon/apple-touch-icon-144x144.png" rel="apple-touch-icon" sizes="144x144">

        <title>{{ general.siteName }} :: {{ page-name }}</title>

        <!-- Bootstrap core CSS -->
        <link href="{{root}}assets/css/bootstrap.min.css" rel="stylesheet" />

        <!-- Custom styles for this template -->
        <link href="{{root}}assets/css/starter-template.css" rel="stylesheet" />
        <link href="{{root}}assets/css/app.css?ver=VERSION" rel="stylesheet" />
    </head>

  <body>

    {{> body}}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="{{root}}assets/js-files/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="{{root}}assets/js-files/vendor/popper.min.js"></script>
    <script src="{{root}}assets/js-files/bootstrap.min.js"></script>

    <script src="{{root}}assets/js/app.js?ver=VERSION"></script>

</body>
</html>


